*
{
	list-style: none;

}
fieldset
{
	width: 98%;
	background-color: #8d39c4;
	color: black;
	display: flex;
	justify-content: center;
}
h1
{
	display: flex;
	justify-content: center;
}